@font-face {
    font-family: "YSBT";
    src: url('@/assets/font/优设标题黑.ttf') format('truetype');
}

@font-face {
    font-family: "SYHT";
    src: url('@/assets/font/SourceHanSansSC-Medium-2.otf') format('truetype');
}